<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Done</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet'
          type='text/css'/>
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/static-revo/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/static-revo/style.css"/>
</head>
<body>
<div class="container">
    <div class="formHolder login">
        <div th:text="${param.message[0]}" class="alert alert-success">
        </div>
    </div>
</div>
</body>
</html>