<article id="chat-id-3" class="chat-item left">
  <a href="#" class="pull-left thumb-sm avatar"><img
    src="https://s3-eu-west-1.amazonaws.com/static-revo/static/assets/images/a5.jpg"
    class="img-circle" alt="..."></a>
  <section class="chat-body">
    <div class="panel bg-light text-sm m-b-none">
      <div class="panel-body"><span class="arrow left"></span>
        <p class="m-b-none">Lorem ipsum dolor sit amet, conse <br>adipiscing eli...<br>:)</p></div>
    </div>
    <small class="text-muted">1 minutes ago</small>
  </section>
</article>
