<section class="hbox stretch" style="display: inline-table">
  <aside class="aside-lg bg-light lter b-r">
    <section class="vbox">
      <section class="scrollable">
        <div class="wrapper">
          <a class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin">
            <i class="icon-refresh i-lg inline" id="refresh"></i>
          </a>
          <h2 class="font-thin m-b">
            <rt-animate-bar></rt-animate-bar>
            Search
          </h2>
          <div class="row">
            <div class="col-sm-8">
              <section class="panel panel-default">
                <div class="panel-body">
                  <button class="btn btn-danger btn-lg" (click)="more()">More</button>
                </div>
              </section>
            </div>
            <div class="col-sm-4">
              <section class="panel panel-default">
                <div class="panel-body">

                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </section>
  </aside>
</section>
