<section class="hbox stretch" style="display: inline-table">
  <aside class="aside-lg bg-light lter b-r">
    <section class="vbox">
      <section class="scrollable">
        <div class="wrapper">
          <a class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin">
            <i class="icon-refresh i-lg inline" id="refresh"></i>
          </a>
          <h2 class="font-thin m-b">
            <rt-animate-bar></rt-animate-bar>
            Search
          </h2>

          <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
            <rt-video-row-search *ngFor="let m of media" [media]="m"></rt-video-row-search>
          </ul>

          <button class="btn btn-danger btn-lg center-block" style="margin-top: 5px" (click)="more()">More</button>
        </div>

      </section>
    </section>
  </aside>
</section>
